/*Body containing backgroud colour and the font*/
body {
    background-color: #595873;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT";
}

/*The container holding the positioning of the website*/
#PageContainer{
    background-color: #595873;
    display: inline-block;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    background-image: url("static/BookGraphicFoodSite.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 1260px;
    height: 760px;
    background-size: 1280px 760px;

}
/*The Book image holding the different recipes found*/
#Book{
    /*New Book Margin*/
    height: 440px;
    width: 686px;
    position: absolute;
    top: 167px;
    left: 290px;

}
/*The left page of the book*/
#LeftPage2{
    position:absolute;
    top: -4px;
    left: -1px;
    width: 340px;
    height: 440px;
    padding: 0px;
    margin: 0px;
    border-right: 5px black solid;

}
/*The right page of the book*/
#RightPage2{
    position: absolute;
    top: -4px;
    left: 343px;
    width:340px;
    height: 440px;
}
/*The left page of the book*/
#LeftPage3{
    position:absolute;
    top: -2px;
    left: 1px;
    width: 336px;
    height: 440px;
}
/*The right page of the book*/
#RightPage3{
    position: absolute;
    top: 3px;
    left: 343px;
    width:340px;
    height: 415px;
}

#FoodTitleFinal{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

#FoodTitleFinal{
    padding: 1px;
}


#LeftPage3Upper{
    height: 140px;
}

#IngredientsFinal{
    padding-left: 10px;
    overflow: scroll;
    overflow-x: hidden;
    height: 80px;
}


#FoodInstructionsFinal{
    height: 370px;
    overflow-y: auto;
    overflow-x: hidden;
}

#LeftPage3Middle h3{
    margin-top: 5px;
    padding: 0px;
}

#LeftPage3Lower h3 {
    margin-left: -12px;
}

#LeftPage3Lower{
    padding-left: 10px;
    height: 210px;

}

#FoodPrepFinal{
    height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}


/*Unordered List*/
ul {
    list-style-type: none;
    padding: 0px;
    height: 436px;
    margin:0px;
}


/*Ordered List*/
li a {
    display: block;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/* Change the link color to lightgrey on hover */
li a:hover {
    background-color: lightgrey;
}


/*The list of ingredients already owned*/
#IngredientsAlready{
    height: 144px;
    padding-left:5px;
    padding-right:5px;
    margin-top:-13px;
    outline: 1px solid black;
	background-color: #ccffcc;
}
/*The list of ingredients */
#IngredientsNeeded{
    height: 144px;
    padding-left:5px;
    padding-right:5px;
    margin-top:-13px;
    outline: 1px solid black;
	background-color:#ffcccc;
}

/*List of ingredients already owned - ones typed in*/
.IngredientsAlready{
    text-align: center;
}
/*Ingredients missing*/
.IngredientsNeeded{
    text-align: center;
}
/*Store to nearest ingredients missing*/
#store{
    padding-left:5px;
    padding-right:5px;
    outline: 1px solid black;
    float: left;
    height: 104px;
    width:140px;
    margin-top:10px;
    text-align: center;
}
/*Map of nearest store*/
#map{
    padding-left:5px;
    padding-right:5px;
    outline: 1px solid black;
    float: right;
    height: 103px;
    width: 140px;
    margin-top: 10px;
}

#map img{
	width:140px;
	height:100px;
}

.MapPhoto{
	width:140px;
	height:100px;
}
/*Cooking info*/
#cookinfo{
    margin-top: 0px;
}
/*Image of the food used as example*/
.FoodPic img{
    margin-top: 2px;
    float:left;
    width: 140px;
    height: 140px;
    margin-right: 10px;
}
/*Title of recipe food*/
.FoodTitle {
    margin: 0px;
    font-size: 12px;
    text-align: left;
}

/*.clr{
    clear:both;
    font-size:0;
}*/
/*Image of back button*/
#BackPageButtons img{
    padding: 0px;
    margin-top: -70px;
    margin-left: -775px;
    width: 60px;
    height: auto;
}

h6{
    margin: 5px;
}

.FoodRecipeSectionPage3{
    margin-top: -24px;
    height: 144px;
    width: 323px;
}

.FoodRecipeSectionPage2{
    height: 144px;
    width:337px;
    margin-top: 0px;
    padding-right: 0px;
}
/*Font size and positioning of ingredients*/
.IngredientsMissing{
    margin-top: 0px;
    font-size: 14px;
    text-align: center;
}

/*Recipe positioning and font*/
.IngredientsUsed {
    margin-top: -18px;
    font-size: 14px;
    text-align: center;
}

.IngredientsUsed p .more{
    color:#4d94ff;
}

.FoodLikes{
    margin-top: -5px;
    font-size: 16px;
    text-align: center;
    color:#4d94ff;
}

/*Cooking time positioning and font*/
.FoodCookingTime{
    float:right;
    font-size: 12px;
    position: relative;
    margin-top: -25px;
    margin-bottom:0px;
    margin-right: 7px;
    height:23px;
}
/*Forward button image*/
#ForwarBookButton img{
    position: absolute;
    padding: 0px;
    margin-top: -250px;
    margin-left: 1030px;
    width: 100px;
    height: auto;
}

#Page2BackPageButtons img{
    padding: 0px;
    margin-top: -25px;
    margin-left: 200px;
    width: 60px;
    height: auto;
}

#Page3BackPageButtons img{
    padding: 0px;
    margin-top: -50px;
    margin-left: 200px;
    width: 60px;
    height: auto;
}
/*Header bar positioning and font*/
#headerBar{
	position: fixed;
	z-index: 100;
	top: 8px;
	left: 8px;
	width: 200px;
	height: 120px;
	background-color: #6666ff;
	border-color: #6666ff;
	border-width: 8px;
	border-radius: 15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	box-shadow: 3px 3px 5px black;
}
/*Logo*/
.logo{
	height: 155px;
	width: 200px;
    margin-top: -5px;
}

/*Makes logo selectable as a block, fixes slight issues of size*/
#headerBar a{
    display: block;
    width: 200px;
    height: 120px;
}

#foodRecipeSectionPage2 a{
    position: relative;
    display: block;
    height: 140px;

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Home Page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Author: William Haynes*/
/*The page excluding the BLACKGROUND*/
#choppingBoard{
    background-color: #595873;
    display: inline-block;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    background-image: url("static/TableGraphicFoodSite.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 1260px;
    height: 760px;
    background-size: 1280px 760px;
	}
/*
	::-webkit-scrollbar { 
    display: none; 
	}*/
	
/*Top Bar, includes Search Textbox and a Search Button*/
#searchBar{
	width: 200px;
	height: 115px;
	position: absolute;
	top: 212px;
	left: 675px;
	/*background-color: yellow;*/
	text-align: center;				/*Centres horizontally the find Ingredient Bar*/


}
input[type="search"]{
	height: 50px;
	width: 240px;
	/*Rounded corners on search bar*/
	border-radius: 15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	text-align: center;
	font-size: 120%;
	padding-left: 12px;
}

/*LHS "Ingredients Added Box*/
#iAdded{
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT";
	width: 300px;
	height: 345px;
	position: absolute;
	top: 212px;
	left: 339px;
	background-color: hsla(0,100%, 100%, 0.5);
	text-align: center;
	font-size: 125%;
}

/*Central Box containing left and right arrows*/
#moveI{
	width: 80px;
	height: 345px;
	position: absolute;
	top: 115px;
	left: 300px;
	padding-top: 82px;
	/*background-color: blue;*/
}
/*Add pepper - to add ingredients to the list*/
#addPepper{
	background-image: url(static/GreenTWo.png);
	background-repeat: no-repeat;
	height: 140px;
	width: 140px;
	position: absolute;
	top: 266px;
	left: 780px;
    z-index: 1;
}
#addPepper:hover{
	background-image: url(static/Green.png);
	cursor: crosshair;
    z-index: 0;
}
/*Remove pepper - to remove ingredients to the list*/
#removePepper{
	background-image: url(static/RedTwo.png);
	background-repeat: no-repeat;
	height: 140px;
	width: 170px;
	position: absolute;
	top: 330px;
	left: 652px;
    z-index: 1;
}

#removePepper:hover{
	background-image: url(static/Red.png);
	cursor: crosshair;
    z-index: 0;
}
/*Clear pepper - to clear the ingredients*/
#clearPepper{
	background-image: url(static/YellowTwo.png);
	background-repeat: no-repeat;
	height: 140px;
	width: 140px;
	position: absolute;
	top: 414px;
	left: 763px;
    z-index: 1;
}

#clearPepper:hover{
	background-image: url(static/Yellow.png);
	cursor: crosshair;
    z-index: 0;
}
/*Positioning of the help box*/
#helpBox{
	position: absolute;
	top: 625px;
	left: 318px;
	width: 400px;
	height: 120px;
	text-align: center;
	background-color: hsla(0,100%, 100%, 0.5);
	border-style: solid;
	border-color: #6666ff;
	border-width: 8px;
	border-radius: 15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}
/*Button to find recipes based on ingredients added*/
#findRecipes{
	/*AJ Added code*/
	color: black;
	font-weight: bold;
    	text-decoration: none;
	font-size: 150%;
	
	position: absolute;
	top: 625px;
	left: 750px;
	width: 185px;
	height: 120px;
	text-align: center;
	background-color: hsla(0,100%, 100%, 0.5);
	border-style: solid;
	border-color: #6666ff;
	border-width: 8px;
	border-radius: 15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}


.findRecipeText{
	padding-top: 20px;
}
h3{
padding: 11px;
margin: 0px;
}

#dropDown{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 255px;
    position: relative;
}

#searchBox{
    height: 30px;
    width: 226px;
    font-size: 20px;
    text-align: center;

    border-style: solid;
    border-color: black;
    border-width: 3px;

}

/*Page two modifications by William Haynes 28/04/16*/

/*Positioning of the help box for page 2*/
#helpBoxPage2{
    position: absolute;
    top: 625px;
    left: 430px;
    width: 400px;
    height: 120px;
    text-align: center;
    background-color: hsla(0,100%, 100%, 0.5);
    border-style: solid;
    border-color:  #6666ff;
    border-width: 8px;
    border-radius: 15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
}

/*Left Page*/
#leftTopRecipe{
    position: absolute;
    top: 0px;
    padding: 0px;
    margin: 0px;
    border: 3px solid black;
}

#leftMiddleRecipe{
    position: absolute;
    top: 148px;
    padding: 0px;
    margin: 0px;
    border: 3px solid black;
}
#leftBottomRecipe{
    position: absolute;
    top: 296px;
    padding: 0px;
    margin: 0px;
    border: 3px solid black;
}


/*Right Page
/*Left Page*/
#rightTopRecipe{
    position: absolute;
    top: 0px;
    padding: 0px;
    margin: 0px;
    border: 3px solid black;
}

#rightMiddleRecipe{
    position: absolute;
    top: 148px;
    padding: 0px;
    margin: 0px;
    border: 3px solid black;
}
#rightBottomRecipe{
    position: absolute;
    top: 296px;
    padding: 0px;
    margin: 0px;
    border: 3px solid black;
}

.FoodRecipeSectionPage2:hover{
    background: gainsboro;
}

/*Fixes cooking time to bottom right corner of the recipe*/
.FoodCookingTime{
    position: absolute;
    bottom: 4px;
    right: 2px;
}

#Book a{
    display: inline-block;
    height: 145px;
    width: 340px;
}

