/*Body containing backgroud colour and the font*/
body {
    background-color: #595873;
    font-family: 'Signika', sans-serif; 
}

/*The container holding the positioning of the website*/
#PageContainer{
    background-color: #595873;
    display: inline-block;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    background-image: url("static/BookGraphicFoodSite.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 1260px;
    height: 760px;
    overflow: none;
    background-size: 1280px 760px;
}
/*The Book image holding the different recipes found*/
#Book{
    /*New Book Margin*/
    width: 684px;
    margin: 167px 0px 0px 291px;

}
/*The left page of the book*/
#LeftPage2{
    width:340px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right:0px;
    padding-right:0px;
    float: left;
    /*margin-left: 23vw;
    margin-top: 12vw;*/
}
/*The right page of the book*/
#RightPage2{
    width:343px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    /*margin-left: 2vw;
    margin-top: 12vw;*/
}
/*The left page of the book*/
#LeftPage3{
    width:318px;
    padding-right:0px;
    float: left;
    margin:10px;
}
/*The right page of the book*/
#RightPage3{
    padding-top: 0px;
    width:325px;
    height:407px;
    float: left;
    margin: 18px 0px 0px 14px;
    outline: 1px solid black;
}

ul {
    list-style-type: none;
    padding: 0px;
    height: 436px;
    margin:0px;
}

#RecipeSelection{
    text-align: left;
    height: 144px;
    padding:0px;
    margin-top:-13px;
    outline: 3px solid black;
}


li a {
    display: block;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/* Change the link color to lightgrey on hover */
li a:hover {
    background-color: lightgrey;
}



#headline{
    width:315px;
    text-align: left;
}
/*The list of ingredients already owned*/
#IngredientsAlready{
    height: 144px;
    padding-left:5px;
    padding-right:5px;
    margin-top:-13px;
    outline: 1px solid black;
	background-color: #ccffcc;
}
/*The list of ingredients */
#IngredientsNeeded{
    height: 144px;
    padding-left:5px;
    padding-right:5px;
    margin-top:-13px;
    outline: 1px solid black;
	background-color:#ffcccc;
}


.IngredientsAlready{
    text-align: center;
}

.IngredientsNeeded{
    text-align: center;
}

#store{
    padding-left:5px;
    padding-right:5px;
    outline: 1px solid black;
    float: left;
    height: 104px;
    width:140px;
    margin-top:10px;
    text-align: center;
}

#map{
    padding-left:5px;
    padding-right:5px;
    outline: 1px solid black;
    float: right;
    height: 103px;
    width: 140px;
    margin-top: 10px;
}

#map img{
	width:140px;
	height:100px;
}

.MapPhoto{
	width:140px;
	height:100px;
}

#cookinfo{
	text-align:center;
    height: 230px;
    padding-top: 10px;
    float:left;
}

.FoodPic img{
    margin-top: 0px;
    float:left;
    width: 140px;
    height: 145px;
    margin-right: 10px;
}

.FoodTitle {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 12px;
    text-align: left;
}

.clr{
    clear:both;
    font-size:0;
}

#BackPageButtons img{
    padding: 0px;
    margin-top: -70px;
    margin-left: -775px;
    width: 60px;
    height: auto;
}

h6{
    margin: 5px;
}

.FoodRecipeSectionPage3{
    margin-top: -14px;
    height: 144px;
    width: 323px;
}

.FoodRecipeSectionPage2{
    height: 144px;
    width:337px;
    padding-right: 0px;
}

.IngredientsMissing{
    margin-top: -18px;
    font-size: 14px;
    text-align: center;
}


.FoodRecipe{
    position: relative;
    margin-top: -10px;
    padding-right: 10px;
    font-size: 12px;
    height: 90px;
    display: flex;
    text-align:center;
    align-items: center; /* align vertical */
}

.FoodRecipe p .more{
    color:#4d94ff; 
}


.FoodCookingTime{
    float:right;
    font-size: 12px;
    position: relative;
    margin-top: -30px;
    margin-bottom:0px;
    margin-right: 7px;
    height:23px;
}

#ForwarBookButton img{
    position: absolute;
    padding: 0px;
    margin-top: -250px;
    margin-left: 1030px;
    width: 100px;
    height: auto;
}

#Page2BackPageButtons img{
    padding: 0px;
    margin-top: -25px;
    margin-left: 200px;
    width: 60px;
    height: auto;
}

#Page3BackPageButtons img{
    padding: 0px;
    margin-top: -50px;
    margin-left: 200px;
    width: 60px;
    height: auto;
}

#headerBar{
	position: fixed;
	z-index: 100;
	top: 8px;
	left: 8px;
	width: 200px;
	height: 120px;
	background-color: #6666ff;
	border-color: #6666ff;
	border-width: 8px;
	border-radius: 15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	box-shadow: 3px 3px 5px black;
}

.logo{
	height: 120px;
	width: 180px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Home Page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Author: William Haynes*/
/*The page excluding the BLACKGROUND*/
#choppingBoard{
    background-color: #595873;
    display: inline-block;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    background-image: url("static/TableGraphicFoodSite.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 1260px;
    height: 760px;
    overflow: none;
    background-size: 1280px 760px;
	}

	::-webkit-scrollbar { 
    display: none; 
	}
	
/*Top Bar, includes Search Textbox and a Search Button*/
#searchBar{
	width: 200px;
	height: 115px;
	position: absolute;
	top: 215px;
	left: 675px;
	/*background-color: yellow;*/
	text-align: center;				/*Centres horizontally the find Ingredient Bar*/


}
input[type="search"]{
	height: 50px;
	width: 240px;
	/*Rounded corners on search bar*/
	border-radius: 15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	text-align: center;
	font-size: 120%;
	padding-left: 12px;
}

/*LHS "Ingredients Added Box*/
#iAdded{
	font-family: 'Signika', sans-serif;
	width: 300px;
	height: 345px;
	position: absolute;
	top: 212px;
	left: 339px;
	background-color: hsla(0,100%, 100%, 0.5);
	text-align: center;
}

/*Central Box containing left and right arrows*/
#moveI{
	width: 80px;
	height: 345px;
	position: absolute;
	top: 115px;
	left: 300px;
	padding-top: 82px;
	/*background-color: blue;*/
}

/*RHS "Ingredients to be added box"
#iToAdd{
	width: 300px;
	height: 345px;
	position: absolute;
	top: 115px;
	left: 380px;
	background-color: hsla(0,100%, 100%, 0.5);
	
	text-align: center;
	overflow: scroll;
	overflow-x: hidden;
}*/

#addPepper{
	background-image: url(static/GreenTWo.png);
	background-repeat: no-repeat;
	height: 140px;
	width: 140px;
	position: absolute;
	top: 266px;
	left: 780px;
}
#addPepper:hover{
	background-image: url(static/Green.png);
	cursor: crosshair;
}

#removePepper{
	background-image: url(static/RedTwo.png);
	background-repeat: no-repeat;
	height: 140px;
	width: 170px;
	position: absolute;
	top: 330px;
	left: 654px;
}

#removePepper:hover{
	background-image: url(static/Red.png);
	cursor: crosshair;
}

#clearPepper{
	background-image: url(static/YellowTwo.png);
	background-repeat: no-repeat;
	height: 140px;
	width: 140px;
	position: absolute;
	top: 411px;
	left: 765px;
}

#clearPepper:hover{
	background-image: url(static/Yellow.png);
	cursor: crosshair;
}

#helpBox{
	position: absolute;
	top: 615px;
	left: 328px;
	width: 400px;
	height: 120px;
	text-align: center;
	background-color: hsla(0,100%, 100%, 0.5);
	border-style: solid;
	border-color: #6666ff;
	border-width: 8px;
	border-radius: 15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}

#findRecipes{
	/*AJ Added code*/
	color: black;
    font-weight: bold;
    text-decoration: none;
	
	position: absolute;
	top: 615px;
	left: 758px;
	width: 185px;
	height: 120px;
	text-align: center;
	background-color: hsla(0,100%, 100%, 0.5);
	border-style: solid;
	border-color: #6666ff;
	border-width: 8px;
	border-radius: 15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}

.findRecipeText{
	font-size: 150%;
}

h3{
padding: 11px;
margin: 0px;
}
